/* Base CSS styles for Loan Application */
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

.mb10 {
    margin-bottom: 10px !important;
}

.flr {
    float: right;
}

.fll {
    float: left;
}

.b {
    font-weight: bold;
}

.tac {
    text-align: center;
}
.hidden {
    display: none;
}
.padding-none {
    padding: 0 !important;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.about {
    margin: 80px auto;
    padding: 8px;
    width: 260px;
    font: 10px/18px 'Lucida Grande', Arial, sans-serif;
    color: #666;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    background: #eee;
    background: rgba(250, 250, 250, 0.8);
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
}

.about a {
    color: #333;
    text-decoration: none;
    border-radius: 2px;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}

.about a:hover {
    text-decoration: none;
    background: #fafafa;
    background: rgba(255, 255, 255, 0.7);
}

.about-links {
    height: 30px;
}

.about-links > a {
    float: left;
    width: 50%;
    line-height: 30px;
    font-size: 12px;
}

.about-author {
    margin-top: 5px;
}

.about-author > a {
    padding: 1px 3px;
    margin: 0 -1px;
}

body {
    font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    color: #404040;
    background: url("/resources/img/pattern.gif") 0 0 repeat-x #fff;
}

.anonym {
    background: #0ca3d2;
}

.container {
    margin: 180px auto;
    width: 780px;
}

.register-cnt {
    margin: 80px auto;
}

.login {
    position: relative;
    margin: 0 auto;
    padding: 20px 20px 20px;
    width: 310px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.login:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.login h1 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}

.login p {
    margin: 20px 0 0;
}

.login p:first-child {
    margin-top: 0;
}

.login input[type=text], .login input[type=password], .login input[type=email] {
    width: 278px;
}

.login p.remember_me {
    float: left;
    line-height: 31px;
}

.login p.remember_me label {
    font-size: 12px;
    color: #777;
    cursor: pointer;
}

.login p.remember_me input {
    position: relative;
    bottom: 1px;
    margin-right: 4px;
    vertical-align: middle;
}

.login p.register_acc {
    text-align: center;
    font-size: 12px;
}

.login p.submit {
    text-align: right;
}

.login-help {
    margin: 20px 0;
    font-size: 11px;
    color: white;
    text-align: center;
    text-shadow: 0 1px #2a85a1;
}

.login-help a {
    color: #cce7fa;
    text-decoration: none;
}

.login-help a:hover {
    text-decoration: underline;
}

:-moz-placeholder {
    color: #c9c9c9 !important;
    font-size: 13px;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-size: 13px;
}

input {
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 14px;
}

input[type=text], input[type=password], input[type=email] {
    width: 200px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    /*outline: 5px solid #eff4f7;*/
    -moz-outline-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

input[type=text]:focus, input[type=password]:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0;
}

input[type=submit] {
    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: #527881;
    text-shadow: 0 1px #e3f1f1;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 16px;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
    -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

input[type=submit]:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
    line-height: 34px;
}

/* BEGIN Main content */
.main_content {
    background-color: #fff;
}

/* RMC component styles */
.rmc-component {
    margin: auto;
    position: relative;
    width: 520px;
    font: 14px/21px Arial, Helvetica, sans-serif;
}

.rmc-threeColumn {
    background: none repeat-y scroll -960px 0 transparent;
    margin-bottom: 0;
}

.rmc-gridRow {
    margin: 0 auto;
    overflow: hidden;
    padding: 0 10px;
    width: 980px;
}

.rmc-gridCol4 {
    width: 300px;
    display: inline;
    float: left;
    margin: 0 10px;
    min-height: 1px;
}

.rmc-oneThirdImageLeft {
    width: 140px;
    float: left;
    line-height: 0;
    position: relative;
    z-index: 10;
}

.rmc-oneThirdTextRight {
    width: 140px;
    float: right;
    padding-left: 20px;
}

.rmc-component a {
    color: #007DC5;
    text-decoration: none;
}

.rmc-component h4 {
    color: #2C2C2C;
    font-size: 18px;
    letter-spacing: -0.01em;
    margin: 6px 0 0;
    padding: 4px 0 0;
}

/* END RMC component styles */

/* BEGIN Header styling */
#header {
    width: 872px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    padding: 0 34px 0 0;
}

#footer {
    width: 100%;
    background: url("/resources/img/footer_bg.gif") 0 0 repeat-x;
    height: 70px;
}

#logout {
    position: absolute;
    right: 5em;
    top: 1.2em;
}

.icon-logout {
    background-image: url("/resources/img/icn/icn_logout.png");
    background-position: center;
    background-repeat: repeat;
    margin: 2px 4px 0px 0px;
}

#logout a {
    color: black;
    text-decoration: underline;
}

/* END Header styling */

.main_content_middle_column {
    background-color: #fff;
    width: 670px;
    margin: 0 auto;
}

/* BEGIN Price Slider*/

.slider-price {
    color: #f6931f !important;
    font-weight: bold;
    width: 30px !important;
    text-align: center;
    position: relative;
    top: -10px;
    left: 15px;
}

.slider-row {
    height: 100px;
}

.slider-row .ui-slider {
    width: 410px;
    margin-bottom: 25px;
    float: left;
}

/* Text in slider's label component */
.slider-row-head {
    font-weight: bold;
}

#price-slider-info {
    position: relative;
    top: 20px;
    height: 160px;
    padding-left: 20px;
    border-left: 1px solid #C9C9C9;
}

.slider-info-entry {
    border-bottom: 1px solid #6E9BB9;
    padding-bottom: 10px;
}

#slider-take-loan {
    position: relative;
    left: 12em;
}

/* BEGIN LOAN rejection window */
#loan-reject {
    margin-top: 50px;
}

#loan-reject .alert {
    padding: 10px;
}

#loan-reject p, ul {
    margin-left: 35%;
}

#loan-reject ul {
    list-style: disc;
    margin-left: 38%;
}

.loan-reject-back {
    text-align: center;
    margin-top: 25px;
}

/* END LOAN rejection window */
/* END Price Slider*/
.info-panel {
    width: 980px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 150px;
}

/* START My loans table */

.divTable {
    width: 50%;
    height: 50%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    text-align: left;
    border-collapse: collapse;
}

.divTableRow {
    width: 100%;
    height: 100%;
    display: table-row;
}
.divTableRow:hover{
    background: #d0dafd;
}

.divTableCell {
    width: 25%;
    height: 100%;
    display: table-cell;
    padding: 8px;
    background: #e8edff;
    border-top: 1px solid #fff;
    color: #669;
}

.loan-data-header div.divTableCell {
    background: #b9c9fe;
}
/* END My loans table */

/* END Main content*/
