<div class="info-panel">
    <div class="row-fluid">
        <div class="span12">

            <div class="row-fluid welcome-catchy-topic spacing">
                <div class="span4">
                    <div class="jumbotron clickable-item" data-href="/en/product/implementation">
                        <div class="row-fluid">

                            <div class="span2 hidden-phone">
                                <img src="/resources/img/infoPanel/clock_icn.png">
                            </div>
                            <div class="span10">
                                <h4>Fast and easy use</h4>
                                <p>
                                    A best practice data model offers an easy starting point without need for comprehensive adjustment. The user interface is comfortable and easy-to-use, so you can understand and work with leanIX in less half an hour.
                                    <a href="/en/product/implementation"> see more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span4">
                    <div class="jumbotron clickable-item" data-href="/en/product/portfolio">
                        <div class="row-fluid">
                            <div class="span2 hidden-phone">
                                <img src="/resources/img/infoPanel/pie_chart.png">
                            </div>

                            <div class="span10">
                                <h4>Stay on top</h4>
                                <p>
                                    leanIX focuses on the analysis of logical connections instead of details. Thus, new potentials of cost reduction in IT are exposed. Start with the analysis of your IT portfolio right now.
                                    <a href="/en/product/portfolio"> see more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="span4">
                    <div class="jumbotron clickable-item" data-href="/en/product/knowledge">
                        <div class="row-fluid">
                            <div class="span2 hidden-phone">
                                <img src="/resources/img/infoPanel/cup_icn.png">
                            </div>
                            <div class="span10">
                                <h4>Speed up</h4>
                                <p>
                                    Studies show that the application of social media in enterprises accelerates the access to information and makes it easy to find experts. Process costs can be reduced effectively.
                                    <a href="/en/product/knowledge"> see more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>