<div class="main_content_middle_column well padding-none">
    <div id="loans-list">
        <div class="loan-wrapper">
            #if($loans.size() > 0)
                <div>
                    <div class="loan-table divTable">
                            <div class="loan-data-header divTableRow">
                                <div class="divTableCell">#springMessage("label.loan.my.table.id")</div>
                                <div class="divTableCell">#springMessage("label.loan.my.table.amount")</div>
                                <div class="divTableCell">#springMessage("label.loan.my.table.commission")</div>
                                <div class="divTableCell">#springMessage("label.loan.my.table.totalAmount")</div>
                                <div class="divTableCell">#springMessage("label.loan.my.table.startDate")</div>
                                <div class="divTableCell">#springMessage("label.loan.my.table.returnDate")</div>
                                <div class="divTableCell">#springMessage("label.loan.my.table.Status")</div>
                                <div class="divTableCell">#springMessage("label.loan.my.table.extend")</div>
                                <div class="divTableCell">#springMessage("label.loan.my.table.pay")</div>
                                <div class="divTableCell">#springMessage("label.loan.my.table.pay")</div>
                            </div>
                        #foreach($loan in $loans)

                                <div class="loan-data divTableRow">
                                    <div class="loan-id divTableCell">$loan.id</div>
                                    <div class="loan-amount divTableCell">$loan.amount</div>
                                    <div class="loan-commission divTableCell">$loan.commission</div>
                                    <div class="loan-total-amount divTableCell">$loan.totalAmount</div>
                                    <div class="loan-start-date divTableCell">$dateTool.format('dd.MM.yyyy',$loan.applicationDate)</div>
                                    <div class="loan-return-date divTableCell">$dateTool.format('dd.MM.yyyy',$loan.returnDate)</div>
                                    <div class="loan-status divTableCell">$loan.loanStatus.name()</div>
                                    ## Show extend button only for active loans
                                    #if($loan.loanStatus.name() == "ACTIVE")
                                        <div class="loan-extend divTableCell"><button id="loan-btn-extend" onclick="extendLoan($loan.id)" class="btn btn-info btn-small">Extend</button></div>
                                        <div class="loan-pay divTableCell"><button id="loan-btn-pay" onclick="payLoan($loan.id)" class="btn btn-success btn-small">Pay</button></div>
                                        <div class="loan-pay divTableCell"><button id="showExt-$loan.id" rel="popover" data-trigger="click" data-original-title="Loan History" loan-id="$loan.id" class="btn btn-success btn-small">History</button></div>
                                    #else
                                        <div class="alert-error divTableCell">#springMessage("label.unavailable")</div>
                                        <div class="alert-error divTableCell">#springMessage("label.unavailable")</div>
                                        <div class="loan-pay divTableCell"><button id="showExt-$loan.id" rel="popover" data-trigger="click" data-original-title="Loan History" loan-id="$loan.id" class="btn btn-success btn-small">History</button></div>
                                    #end
                                </div>
                                #parse("main/widgets/loanExtensionsList.vm")
                        #end
                    </div>
                </div>
            #else
                <p>#springMessage("label.loan.my.noLoans")</p>
            #end
        </div>
    </div>
</div>
<div id="my-loans-footer" class="tac">
    <a href="/">Back to main page</a>
</div>
<!-- Main page Info panel-->
#parse("main/widgets/infoPanel.vm")
